
.botao-bottom-right {

    position: absolute;
    bottom: 8px;
    right: 12px;

}

.botao-bottom-right {

    text-decoration: underline !important;

}

.descricao-omega-empresa small {

    margin-bottom: 10px;

}

.titulo-funcionalidade {

    margin-bottom: 10px !important;

}

.border-right {

    border-right: 1px solid #dddddd;

}

.border-left {

    border-left: 1px solid #dddddd;

}

.no-border-bottom {

    border-bottom: 0px !important;

}

.botao-right-55 {

    position: absolute;
    right: 55px;

}

.botao-right-70 {

    position: absolute;
    right: 70px;

}

.botao-right-80 {

    position: absolute;
    right: 80px;

}

.botao-right-90 {

    position: absolute;
    right: 90px;

}

.botao-right-110 {

    position: absolute;
    right: 110px;

}

.botao-right-30 {

    right: 30px;
    position: absolute;

}

.table-header {

    font-size: 14px;

}

.table-content {

    font-size: 14px;

}

.vertical-middle {

    vertical-align: middle;

}

.lead {

    margin-top: 10px;

}

#divCompletaDadosCadastro label {

    margin-top: 8px;

}

.margin-left-15 {

    margin-left: 15px !important;

}

.no-margin-top {

    margin-top: 0px !important;

}