@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .img-responsive-sm {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .no-mg-t-xs {
        margin-top: 0 !important;
    }
}

.no-mg-t {
    margin-top: 0 !important;
}

.no-mg-b {
    margin-bottom: 0 !important;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

#stats-chart1, #stats-chart2, #stats-chart3, #stats-chart7, #stats-chart8 {
    height: 200px;
}

.color-settings .color-title {
    font-weight: bold;
    padding-left: 10px;
}

.wysihtml5-sandbox {
    box-sizing: border-box;
}
