.calendar-internal-container
{
    padding: 15px;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td
{
    padding: 3px !important;
}

.event-error
{
    border-left: 5px solid #bf0000 !important;
}

.event-error, .event-ok
{
    padding: 3px !important;
    height: max-content;
    margin: 2px;
}

.problema-encontrado-item
{
    cursor: pointer;

    h3
    {
        font-size: 18px;
    }

    [class*="icon-"]
    {
        top: 23px !important;
    }

}

@import "./imports/legenda.scss";
//@import "./imports/materialFullCalendar.scss";
