.calendar-internal-container {
  padding: 15px; }

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
  padding: 3px !important; }

.event-error {
  border-left: 5px solid #bf0000 !important; }

.event-error, .event-ok {
  padding: 3px !important;
  height: max-content;
  margin: 2px; }

.problema-encontrado-item {
  cursor: pointer; }
  .problema-encontrado-item h3 {
    font-size: 18px; }
  .problema-encontrado-item [class*="icon-"] {
    top: 23px !important; }

.legenda .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%; }
.legenda .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }
.legenda .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none; }
.legenda ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px; }
.legenda .legend-source {
  font-size: 70%;
  color: #999;
  clear: both; }
.legenda a {
  color: #777; }

/*# sourceMappingURL=calendarioDePontos.css.map */
