.modal-dialog.modal-dialog-detalhes-entidade
{
  .modal-header
  {
    .modal-title-icon
    {
      img
      {
        max-height: 35px;
      }

      display: inline-block;
      margin-right: 10px;

      &+ .modal-title
      {
        display: inline-block;
      }

    }

  }

}

.modal-dialog
{
  .daterangepicker
  {
    top: 0px;
    left: 0px;
  }
}

.datetime-picker
{
  width: 50%;
}

@import "./imports/spacing";
//@import "./imports/reactDatetime";