.map-marker-label {
  height: 30px;
  padding: 3px 6px 3px 6px;
  border: 1px solid #eb3a44;
  border-radius: 5px;
  background: #fee1d7;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
  min-width: max-content; }

.relogio {
  font-weight: bold; }

.barra-inferior .dropdown-menu.lista-checkboxes a {
  cursor: pointer; }
.barra-inferior .row {
  margin-left: 0px;
  margin-right: 0px !important; }
.barra-inferior .nav .caret {
  margin-left: 5px; }
.barra-inferior .navbar {
  background-color: #333943 !important;
  color: #FFFFFF;
  padding-left: 0px;
  min-height: unset; }
.barra-inferior .navbar-nav > li > a {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #FFFFFF; }
  .barra-inferior .navbar-nav > li > a:hover, .barra-inferior .navbar-nav > li > a:focus {
    color: #FFFFFF; }
.barra-inferior .navbar-collapse {
  padding-left: 0px; }
.barra-inferior .box {
  padding-left: 0px;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
  padding-right: 0px; }
  .barra-inferior .box .box-content {
    padding: 0px;
    border: 0px; }

.corpo-modal-detalhes p {
  margin-bottom: 5px; }

/*# sourceMappingURL=mapa.css.map */
