.pb-0 { padding-bottom: 0px !important; }
.pb-1 { padding-bottom: 10px !important; }
.pb-2 { padding-bottom: 15px !important; }
.pb-3 { padding-bottom: 30px !important; }

.mb-0 { margin-bottom: 0px !important; }
.mb-1 { margin-bottom: 10px !important; }
.mb-2 { margin-bottom: 15px !important; }
.mb-3 { margin-bottom: 30px !important; }


.pt-0 { padding-top: 0px !important; }
.pt-1 { padding-top: 10px !important; }
.pt-2 { padding-top: 15px !important; }
.pt-3 { padding-top: 30px !important; }

.mt-0 { margin-top: 0px !important; }
.mt-1 { margin-top: 10px !important; }
.mt-2 { margin-top: 15px !important; }
.mt-3 { margin-top: 30px !important; }


.pl-0 { padding-left: 0px !important; }
.pl-1 { padding-left: 10px !important; }
.pl-2 { padding-left: 15px !important; }
.pl-3 { padding-left: 30px !important; }

.ml-0 { margin-left: 0px !important; }
.ml-1 { margin-left: 10px !important; }
.ml-2 { margin-left: 15px !important; }
.ml-3 { margin-left: 30px !important; }


.pl-0 { padding-right: 0px !important; }
.pl-1 { padding-right: 10px !important; }
.pl-2 { padding-right: 15px !important; }
.pl-3 { padding-right: 30px !important; }

.ml-0 { margin-right: 0px !important; }
.ml-1 { margin-right: 10px !important; }
.ml-2 { margin-right: 15px !important; }
.ml-3 { margin-right: 30px !important; }